$panel-header-padding           : 1.875rem;
$panel-body-padding             : 1.875rem;
$panel-footer-padding           : 1.875rem;

.panel {
  height: 100%;
  background-color: #f0f2f5;
  // background-color: #fff;

  &-header {
    padding: $panel-header-padding;
    padding-bottom: 0;
  }

  &-body {
    padding: $panel-body-padding;
  }

  &-footer {
    padding: $panel-footer-padding;
  }

  &-light {
    background-color: #fff;
  }

  &-minus {
    padding: 0;

    .panel-body {
      padding: 0;
    }

    .panel-header {
      margin: -1.875rem -1.875rem 1.875rem -1.875rem;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
